<div class="header-top">
  <div class="container">
    <div class="logo">
      <a href="/admin"><img style="height: 60px;" src="../static/images/logo/uim.png" alt="Logo" srcset="" />
      </a>
      <div class="title align-self-center">
        <h4 class="mb-0">Fakultas Teknik</h4>
        <h6 class="mb-0">Universitas Islam Makassar</h6>
      </div>
    </div>
    <div class="header-top-right">
      <div class="dropdown">
        <a href="#" class="user-dropdown d-flex dropend" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="avatar avatar-md2">
            <img src="../static/images/faces/1.jpg" alt="Avatar" />
          </div>
          <div class="text">
            <h6 class="user-dropdown-name">Sifulan</h6>
            <p class="user-dropdown-status text-sm text-muted">Admin</p>
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">My Account</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="auth-login.html">Logout</a></li>
        </ul>
      </div>

      <!-- Burger button responsive -->
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </div>
  </div>
</div>