<nav class="main-navbar">
  <div class="container">
    <ul>
      <li class="menu-item  ">
        <a href="{{ url_for('admin.adminDashboard')}}" class='menu-link'>
          <i class="bi bi-grid-fill"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="menu-item  has-sub">
        <a href="#" class='menu-link'>
          <i class="bi bi-stack"></i>
          <span>Beasiswa UKT</span>
        </a>
        <div class="submenu ">
          <!-- Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it. -->
          <div class="submenu-group-wrapper">
            <ul class="submenu-group">
              <li class="submenu-item  ">
                <a href="{{ url_for('ukt.indexUkt', page=1)}}" class='submenu-link'>Data Training</a>
              </li>

              <li class="submenu-item  ">
                <a href="{{url_for('ukt.ujiUkt')}}" class='submenu-link'>Uji Data</a>
              </li>
          </div>
        </div>
      </li>

      {# <li class="menu-item  has-sub">
        <a href="#" class='menu-link'>
          <i class="bi bi-stack"></i>
          <span>Beasiswa KIP</span>
        </a>
        <div class="submenu ">
          <!-- Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it. -->
          <div class="submenu-group-wrapper">
            <ul class="submenu-group">
              <li class="submenu-item  ">
                <a href="component-alert.html" class='submenu-link'>Data Training</a>
              </li>

              <li class="submenu-item  ">
                <a href="component-badge.html" class='submenu-link'>Testing</a>
              </li>
          </div>
        </div>
      </li> #}

      <li class="menu-item  has-sub">
        <a href="#" class='menu-link'>
          <i class="bi bi-stack"></i>
          <span>Kategori</span>
        </a>
        <div class="submenu ">
          <!-- Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it. -->
          <div class="submenu-group-wrapper">
            <ul class="submenu-group">
              <li class="submenu-item">
                <a href="{{ url_for('admin.kategoriF')}}" class='submenu-link'>Fakultas</a>
              </li>

              <li class="submenu-item  ">
                <a href="{{ url_for('admin.kategoriJ')}}" class='submenu-link'>Jurusan</a>
              </li>
          </div>
        </div>
      </li>
      <li class="menu-item  has-sub">
        <a href="#" class='menu-link'>
          <i class="bi bi-stack"></i>
          <span>Data User</span>
        </a>
        <div class="submenu ">
          <!-- Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it. -->
          <div class="submenu-group-wrapper">
            <ul class="submenu-group">
              <li class="submenu-item  ">
                <a href=" {{url_for('admin.userData', page=1)}} " class='submenu-link'>Data User</a>
              </li>
              <li class="submenu-item  ">
                <a href="{{ url_for('admin.userLogin')}}" class='submenu-link'>Data User Login</a>
              </li>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>