{% extends "base.html" %}
{% set filename = 'ukt-edit' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/choices.js/choices.min.css') }}" />
<link rel="stylesheet"
  href="{{ url_for('static', filename='vendors/jquery-datatables/jquery.dataTables.bootstrap5.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/fontawesome/all.min.css') }}">
<style>
  table.dataTable td {
    padding: 15px 8px;
  }

  .fontawesome-icons .the-icon svg {
    font-size: 24px;
  }

  .isi {
    text-align: justify;
  }
</style>
{% endblock  %}

{% block content %}
<div class="content-wrapper container">
  {# <div class="page-heading">
    <h4>Form Tambah Data UKT</h4>
  </div> #}
  <div class="page-content">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="card">
          {# {% for x in resp_ukt %}
          {{x.id_user}}
          {% endfor %} #}
          <div class="card-content">
            <div class="card-body">
              <div class="row">
                <div id="form" class="col-md-7">
                  <form action="{{url_for('ukt.updateUkt', id=resp_ukt.id )}}" method="post"
                    class="form form-horizontal">
                    <div class="form-body">
                      <div class="row">
                        <h5 class="card-title">Edit Data Pendaftar Beasiswa UKT</h5>
                        <div class="col-md-4">
                          <label>Nama</label>
                        </div>
                        <div class="col-md-8 form-group">
                          {% for user in resp_user %}
                          {% if resp_ukt.id_user == user.id %}
                          <input type="text" id="nik-id" class="form-control form-control-sm" name="id_user"
                            placeholder="Nama Mahasiswa" value="{{ user.nama}}" disabled>
                          {% endif %}
                          {% endfor %}
                        </div>

                        <div class="col-md-4">
                          <label>NIK</label>
                        </div>
                        <div class="col-md-8 form-group">
                          <input type="text" id="nik-id" class="form-control form-control-sm" name="nik"
                            placeholder="No. Induk KTP" value="{{ resp_ukt.nik}}">
                        </div>

                        <div class="col-md-4">
                          <label>Prodi</label>
                        </div>
                        <fieldset class="col-md-8 form-group">
                          <select class="form-select form-select-sm" name="prodi">
                            <option value="">.:: Pilih ::.</option>
                            {% for prodi in resp_prodi %}
                            <option value="{{prodi.id}}" {{'selected' if resp_ukt.id_prodi == prodi.id else ''}}>
                              {{prodi.jurusan}}
                            </option>
                            {% endfor %}
                          </select>
                        </fieldset>

                        <div class="col-md-4">
                          <label>Semester</label>
                        </div>
                        <fieldset class="col-md-8 form-group">
                          <select class="form-select form-select-sm" name="semester">
                            <option value="">.:: Pilih ::.</option>
                            {% for sms in resp_sms %}
                            <option value="{{sms.id}}" {{'selected' if resp_ukt.id_sms == sms.id else '' }}>
                              {{sms.semester}}</option>
                            {% endfor %}
                          </select>
                        </fieldset>

                        <div class="col-md-4">
                          <label>Status Mahasiswa</label>
                        </div>
                        <fieldset class="col-md-8 form-group">
                          <select class="form-select form-select-sm" name="status_mhs">
                            <option value="">.:: Pilih ::.</option>
                            <option value="aktif" {{ 'selected' if resp_ukt.status_mhs == 'aktif' else '' }}>Aktif
                            </option>
                            <option value="cuti" {{ 'selected' if resp_ukt.status_mhs == 'cuti' else '' }}>Cuti
                            </option>
                          </select>
                        </fieldset>

                        <div class="col-md-4">
                          <label>Penerima KIP/Bidik Misi</label>
                        </div>
                        <fieldset class="col-md-8 form-group">
                          <select class="form-select form-select-sm" name="kip">
                            <option value="">.:: Pilih ::.</option>
                            <option value="terima" {{'selected' if resp_ukt.kip_bm == 'terima' else '' }}>Terima
                            </option>
                            <option value="tidak" {{'selected' if resp_ukt.kip_bm == 'tidak' else '' }}>Tidak</option>
                          </select>
                        </fieldset>

                        <div class="col-md-4">
                          <label>Penghasilan Orang Tua</label>
                        </div>
                        <fieldset class="col-md-8 form-group">
                          <select class="form-select form-select-sm" name="penghasilan_orang_tua">
                            <option value="">.:: Pilih ::.</option>
                            {% for penghasilan in resp_penghasilan %}
                            <option value="{{penghasilan.id}}"
                              {{'selected' if resp_ukt.id_penghasilan == penghasilan.id}}>{{ penghasilan.keterangan}}
                            </option>
                            {% endfor %}
                          </select>
                        </fieldset>

                        <div class="col-md-4">
                          <label>Jumlah Tanggungan</label>
                        </div>
                        <div class="col-md-8 form-group">
                          <input type="number" id="nik-id" class="form-control form-control-sm" name="tanggungan"
                            placeholder="Tanggungan Orang Tua" value="{{ resp_ukt.tanggungan}}">
                        </div>

                        <div class="col-md-4">
                          <label>Penerima PKH/KKS</label>
                        </div>
                        <fieldset class="col-md-8 form-group">
                          <select class="form-select form-select-sm" name="pkh">
                            <option value="">.:: Pilih ::.</option>
                            <option value="terima" {{ 'selected' if resp_ukt.pkh_kks == 'terima' else '' }}>Terima
                            </option>
                            <option value="tidak" {{ 'selected' if resp_ukt.pkh_kks == 'tidak' else '' }}>Tidak</option>
                          </select>
                        </fieldset>

                        <div class="col-md-4">
                          <label>Kelayakan</label>
                        </div>
                        <fieldset class="col-md-8 form-group">
                          <select class="form-select form-select-sm" name="keputusan">
                            <option value="">.:: Pilih ::.</option>
                            <option value="layak" {{ 'selected' if resp_ukt.kelayakan == 'layak' else '' }}>Layak
                            </option>
                            <option value="tidak layak" {{ 'selected' if resp_ukt.kelayakan == 'tidak layak' else '' }}>
                              Tidak Layak</option>
                          </select>
                        </fieldset>

                        <div class="col-sm-12 d-flex justify-content-end">
                          <button type="submit" class="btn btn-primary btn-sm me-1 mb-1 ">Update</button>
                          <button type="reset" class="btn btn-light-secondary  btn-sm me-1 mb-1">Reset</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div id="keterangan" class="col-md-5">
                  <div class="row">
                    <h5 class="card-title">Ketentuan Penerima</h5>
                    <div class="col-sm-1">
                      <p class="card-text">1.</p>
                    </div>
                    <div class="col-sm-11">
                      <p class="card-text isi">Mahasiswa telah menerima bantuan pada semester sebelumnya</p>
                    </div>
                    <div class="col-sm-1">
                      <p class="card-text">2.</p>
                    </div>
                    <div class="col-sm-11">
                      <p class="card-text isi">Terdaftar sebagai penerima PKH / KKS, mahasiswa dari panti asuhan/panti
                        sosial</p>
                    </div>
                    <div class="col-sm-1">
                      <p class="card-text">3.</p>
                    </div>
                    <div class="col-sm-11">
                      <p class="card-text isi">Pendapatan orang tua/yang membiayai kuliah maksimal Rp. 4000.000,00</p>
                    </div>
                    <div class="col-sm-1">
                      <p class="card-text">4.</p>
                    </div>
                    <div class="col-sm-11">
                      <p class="card-text isi">Tidak sedang dibiayai oleh program beasiswa lainnya seperti KIP atau
                        Bidik Misi</p>
                    </div>
                    <div class="col-sm-1">
                      <p class="card-text">5.</p>
                    </div>
                    <div class="col-sm-11">
                      <p class="card-text isi">Mahasiswa aktif yang tercatat di PDDikti dan sedang menjalani perkuliahan
                        minimal semester 3 sampai 9</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  function getUser(selectUser) {
    var users = selectUser.value;

  }
</script>
<script src="{{ url_for('static', filename='vendors/choices.js/choices.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/form-element-select.js') }}"></script>

<script src="{{ url_for('static', filename='js/mazer.js') }}"></script>

<script src="{{url_for('static', filename='vendors/jquery/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatables/custom.jquery.dataTables.bootstrap5.min.js')}}">
</script>
<script src="{{ url_for('static', filename='vendors/fontawesome/all.min.js')}}"></script>
{% endblock  %}