{% extends "base.html" %}
{% set filename = 'hasil-uji' %}
{% block title_page %}
Hasil Uji
{% endblock %}
{% block css %}
<link rel="stylesheet"
  href="{{ url_for('static', filename='vendors/jquery-datatables/jquery.dataTables.bootstrap5.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/fontawesome/all.min.css') }}">
<style>
  table.dataTable td {
    padding: 15px 8px;
  }

  .fontawesome-icons .the-icon svg {
    font-size: 24px;
  }
</style>
{% endblock  %}

{% block content %}
<div class="content-wrapper container">
  <div class="page-content">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="card">
          <div class="card-header pb-0">
            <h1 class="card-title">Hasil Perhitungan Penerimaan Beasiswa</h1>
          </div>
          <div class="card-content">
            <div class="card-body pt-2">
              <div class="row">
                <div class="col-md-6">
                  <div class="table-responsive-sm">
                    <table class="table table-bordered border-secondary border border-2">
                      <thead class="table-dark">
                        <tr>
                          <th>Jumlah data</th>
                          <th>Layak</th>
                          <th>Tidak Layak</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>                          
                          <td>{{response.total_data}}</td>
                          <td>{{response.total_layak}}</td>
                          <td>{{response.total_tidak}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="row pt-3">
                <div class="col-md-6">
                  <h6 class="card-subtitle">----Probabilitas Kelas----</h6>
                  <div class="table-responsive-sm">
                    <table class="table table-bordered border-secondary border border-2">
                      <thead class="table-dark">
                        <tr>
                          <th>Kelas P(Layak)</th>
                          <th>Kelas P(Tidak Layak)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>                          
                          <td>{{response.prob_keputusan_layak}}</td>
                          <td>{{response.prob_keputusan_tidak}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="row pt-3">
                <div class="col-md-10">
                  <h6 class="card-subtitle">----Probabilitas Kategori----</h6>
                  <div class="table-responsive-sm">
                    <table class="table table-bordered border-secondary border border-2">
                      <thead class="table-dark">
                        <tr>
                          <th colspan="3">Data X</th>
                          <th>P(X)C1</th>
                          <th>P(X)C0</th>
                        </tr>
                      </thead>
                      <thead class="table-dark">
                        <tr>
                          <th colspan="2">Atribut</th>
                          <th>Kategori</th>
                          <th>Layak</th>
                          <th>Tidak Layak</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Prodi</td>
                          <td>:</td>
                          <td>
                            {% for prodi in resp_prodi %}
                            {% if prodi.id == pay.id_prodi %}
                            {{prodi.jurusan}}
                            {% endif %}
                            {% endfor %}
                          </td>                         
                          <td>{{ response.layak.p_prodi_layak }}</td>
                          <td>{{ response.tidak.p_prodi_tidak }}</td>                      
                        </tr>
                        <tr>
                          <td>Semester</td>
                          <td>:</td>
                          <td>
                            {% for sms in resp_sms %}
                            {% if sms.id == pay.id_semester %}
                            {{sms.semester}}
                            {% endif %}
                            {% endfor %}
                          </td>
                          <td>{{ response.layak.p_sms_layak }}</td>
                          <td>{{ response.tidak.p_sms_tidak }}</td>
                        </tr>
                       
                        <tr>
                          <td>Penerima KIP</td>
                          <td>:</td>
                          <td>{{ pay.kip_bm | capitalize }}</td>
                          <td>{{ response.layak.p_kip_layak }}</td>
                          <td>{{ response.tidak.p_kip_tidak }}</td>
                        </tr>
                        <tr>
                          <td>Penghasilan Orang Tua</td>
                          <td>:</td>
                          <td>
                            {% for penghasilan in resp_penghasilan %}
                            {% if penghasilan.id == pay.id_penghasilan %}
                            {{ penghasilan.keterangan}}
                            {% endif %}
                            {% endfor %}
                          </td>
                          <td>{{ response.layak.p_penghasilan_layak }}</td>
                          <td>{{ response.tidak.p_penghasilan_tidak }}</td>
                        </tr>
                        <tr>
                          <td>Jumlah Tanggungan</td>
                          <td>:</td>
                          <td> 
                            {% for jt in resp_tanggungan %}
                            {% if jt.id == pay.id_penghasilan %}
                            {{ jt.tanggungan}}
                            {% endif %}
                            {% endfor %}
                          </td>
                          <td>{{ response.layak.p_tanggungan_layak }}</td>
                          <td>{{ response.tidak.p_tanggungan_tidak }}</td>
                        </tr>
                        <tr>
                          <td>Penerma PKH/KKS</td>
                          <td>:</td>
                          <td>{{ pay.pkh_kks | capitalize}}</td>
                          <td>{{ response.layak.p_pkh_layak }}</td>
                          <td>{{ response.tidak.p_pkh_tidak }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col-md-8">
                  <h6 class="card-subitle">Perbandingan Hasil Perhitungan</h6>
                  <div class="table-responsive-sm">
                    <table class="table table-bordered border-secondary border border-2">
                      <thead class="table-dark">
                        <tr>
                          <th colspan="2"></th>
                          <th colspan="2">Perhitungan</th>
                          <th>Hasil</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>P|C1 (Layak)</td>
                          <td class="text-center">:</td>
                          <td>
                            {{ response.layak.p_prodi_layak}} x
                            {{ response.layak.p_sms_layak}} x
                            {{ response.layak.p_kip_layak}} x
                            {{ response.layak.p_penghasilan_layak}} x
                            {{ response.layak.p_tanggungan_layak}} x
                            {{ response.layak.p_pkh_layak }}                            
                          </td>
                          <td class="text-center">=</td>
                          <td>                            
                            {{ response.p_x_kep_layak }}                           
                          </td>
                        </tr>
                        <tr>
                          <td>P|C0 (Tidak Layak)</td>
                          <td class="text-center">:</td>
                          <td>
                            {{ response.tidak.p_prodi_tidak}} x
                            {{ response.tidak.p_sms_tidak}} x
                            {{ response.tidak.p_kip_tidak}} x
                            {{ response.tidak.p_penghasilan_tidak}} x
                            {{ response.tidak.p_tanggungan_tidak}} x
                            {{ response.tidak.p_pkh_tidak }} 
                          </td>
                          <td class="text-center">=</td>
                          <td>
                            {{ response.p_x_kep_tidak }}
                          </td>
                        </tr>
                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
              <div class="row pt-2">
                <p class="card-text">
                  Berdasarkan hasil uji, dapat disimpulkan bahwa data tersebut
                  <b><u>{{response.keputusan| upper}}</u></b> untuk mendapatkan bantuan beasiswa. <br>
                  Persentase Layak&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : {{response.persen_layak}} % <br>
                  Persentase Tidak Layak &nbsp; :  {{response.persen_tidak}} % <br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}

<script src="{{url_for('static', filename='vendors/jquery/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatables/jquery.dataTables.min.js') }}">
</script>
<script src="{{ url_for('static', filename='vendors/jquery-datatables/custom.jquery.dataTables.bootstrap5.min.js')}}">
</script>
<script src="{{ url_for('static', filename='vendors/fontawesome/all.min.js')}}"></script>
{% endblock  %}