{% extends "base.html" %}
{% set filename = 'kat-fakultas' %}

{% block title_page %}
Kategori Penghasilan
{% endblock %}

{% block css %}
<!-- <link rel="stylesheet" href="../../static/vendors/jquery-datatables/jquery.dataTables.min.css"> -->
<link rel="stylesheet"
  href="{{ url_for('static', filename='vendors/jquery-datatables/jquery.dataTables.bootstrap5.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/fontawesome/all.min.css') }}">
<style>
  table.dataTable td {
    padding: 15px 8px;
  }

  .fontawesome-icons .the-icon svg {
    font-size: 24px;
  }
</style>
{% endblock  %}

{% block content %}
<div class="content-wrapper container">
  <!-- <div class="page-heading">
    <h4>.::Kategori Semester::.</h4>
  </div> -->
  <div class="page-content">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <!-- <h5 class="card-title">Kategori Penghasilan Orang Tua</h5> -->
              <a href="{{url_for('kategori.add_penghasilan')}}" class="btn btn-primary btn-sm mb-1">+ Tambah Data +</a>

              <table class="table" id="table1">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Penghasilan</th>
                    <th>Keterangan</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in response %}
                  <tr>
                    <td>{{loop.index}}</td>
                    <td>{{data.penghasilan}}</td>
                    <td>{{data.keterangan}}</td>
                    <td>
                      <a href="" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-placement="top"
                        title="Hapus Data {{ data.penghasilan }} " data-bs-target="#hapusModal{{data.id}}">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                  {% include "modal/modal-delete-penghasilan.html" %}

                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock  %}

{% block js %}
<script src="{{ url_for('static', filename='vendors/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatables/custom.jquery.dataTables.bootstrap5.min.js') }}">
</script>
<script src="{{ url_for('static', filename='vendors/fontawesome/all.min.js') }}"></script>
{% endblock  %}